html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #eee;
}

.body {
  min-width: fit-content;
}

.nav {
  float: right;
  margin: 1em;
}

.container-main {
  max-width: 45em;
}

.centered {
  text-align: center;
}

.center-overflow {
  margin-left: 50%;
  transform: translateX(-50%);
}

.hidden {
  visibility: hidden;
}

.logo {
  max-width: 18em;
  padding-top: 1em;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.pic-logo {
  /* margin: 0 12em; */
  padding-top: 43%;
  padding-bottom: 3em;
}

.full-height {
  height: 100%;
}

.image-container {
  overflow: hidden;
  height: 251px;
  width: 251px;
}

.profile-pic {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.spacer {
  width: 12em;
  height: 1px;
}

.subtitle {
  font-size: 1.55em;
  font-family: "Vollkorn";
}

.footer {
  position: fixed;
  left: 0;
  bottom: 2em;
  width: 100%;
}

.footer a {
  padding-left: 1em;
  padding-right: 1em;
}
